<main class="container">
  <h2>Primo's Shippers Company</h2>
  <div class="row mt-3" [formGroup]="formSearch">
    <div class="input-group">
      <div class="form-outline">
        <input type="number" class="form-control" formControlName="search" placeholder="Enter ID.." />
      </div>
      <button type="button" mat-raised-button color="primary"
        (click)="searchShippers(formSearch.controls.search.value)"><mat-icon>search</mat-icon></button>
        <button type="button" (click)="getShippers()" mat-raised-button color="accent">Refresh</button>
    </div>
  </div>

  <div class="card border-success mb-3 mt-3" style="max-width: 18rem;" *ngIf="shippers">
    <div class="card-header">Name: {{shippers.CompanyName}}</div>
    <div class="card-body">Phone: {{shippers.Phone}}</div>
  </div>

  <body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shipper of listShippers;">
          <th scope="row">{{shipper.ShipperID}}</th>
          <td>{{shipper.CompanyName}}</td>
          <td>{{shipper.Phone}}</td>
          <td><button type="button" class="btn btn-danger" (click)="deleteShippers(shipper.ShipperID)"><mat-icon>delete_forever</mat-icon></button></td>
          <td><button type="button" class="btn btn-success" (click)="goToUpdate(shipper.ShipperID)"><mat-icon>update</mat-icon></button></td>
        </tr>
      </tbody>
    </table>
    <div>
      <button type="button" class="btn btn-success" (click)="goToForm()"><mat-icon>add_box</mat-icon></button>
    </div>

  </body>

</main>

